body {
  /* background-color: #F5939C; */
  background-color: #90D5DC;
  color: #FFF;
  font-family: sofia-pro, sans-serif;
  /* font-family: "Avenir Next", "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  margin: 0;
}

a {
  color: rgb(241, 67, 84);
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:hover {
  color: rgb(255, 129, 141);
}

.main__header {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: -50px;
}

.main__header h1 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 32pt;
  margin: 0;
  text-align: center;
  font-weight: 900;
}

.bubbles {
  position: absolute;
  z-index: -1;
  top: 90px;
}

.bubbles img {
  width: 360px;
}

.bubble__intro {
  /*position: relative;*/
  z-index: -1;
  margin: 0;
  /* background-image: url(assets/img/14.png); */
  background-size: 115%;
  background-repeat: no-repeat;
  color: white;
  min-height: 170px;
  width: 100px;
  transform: translateX(-110px) translateY(100px);
}

.bubble__intro h3,
.bubble__location h3 {
  width: 50%;
  height: 100%;
  font-size: 10pt;
  text-transform: uppercase;
  color: #FFF;
  padding-top: 20px;
  padding-left: 10px;
}

.bubble__location {
  /* background-image: url(assets/img/13.png); */
  background-size: 80%;
  background-repeat: no-repeat;
  min-height: 160px;
  transform: translateX(130px) translateY(-50px);
  z-index: -1;
}

.bubble__location h3 {
  padding-left: 20px;
  font-size: 12pt;
  margin: 0;
}

.animate__text {
  position: relative;
}

.animate__text:after {
  background-color: #FFF;
  position: absolute;
  left: 0px;
  top: 54px;
  content: "";
  height: 4px;
  width: 32px;
}

.c__text .animate__text:after {
  left: 1px;
}

.m__text .animate__text:after {
  width: 36px;
  left: 1px;
}

.y__text .animate__text:after {
  left: -2px;
}

.k__text .animate__text:after {
  left: -1px;
}

.subhero__container {
  margin-top: -50px;
  letter-spacing: 0.1em;
}

h2.subhero {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

h2.subhero--big {
  font-size: 30pt;
  font-weight: 700;
}

@media only screen and (max-width: 1200px) {
  .hand__container-1 {
    display: none;
    width: 0px;
  }

  .hand__container-2 {
    display: none;
    width: 0px;
  }

  .hand__container-3 {
    display: none;
    width: 0px;
  }

  .hand__container-4 {
    display: none;
    width: 0px;
  }
}

.hand__container {
  position: absolute;
  z-index: -2;
}

.hand__container-1 {
  top: 100px;
  left: 140px;
}

.hand__container-1 .hand {
  position: absolute;
  width: 350px;
}

.hand__container-1 .bubble {
  position: absolute;
  width: 310px;
  top: 24px;
  left: -16px;
}

.hand__container-2 {
  top: 400px;
  left: 60px;
}

.hand__container-2 .hand {
  position: absolute;
  width: 350px;
}

.hand__container-2 .bubble {
  position: absolute;
  width: 280px;
  top: 60px;
  left: 20px;
}

.hand__container-3 {
  top: 450px;
  right: 400px;
}

.hand__container-3 .hand {
  position: absolute;
  width: 350px;
}

.hand__container-3 .bubble {
  position: absolute;
  width: 300px;
  left: 20px;
  top: 28px;
}

.hand__container-4 {
  top: 100px;
  right: 500px;
}

.hand__container-4 .hand {
  position: absolute;
  width: 350px;
}

.hand__container-4 .bubble {
  position: absolute;
  width: 300px;
  left: 90px;
  top: 75px;
}

.body__container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  position: relative;
}

.about__container {
  /*margin-top: 0px;*/
}

.section-break {
  margin-bottom: 50px;
}

.timelocation__container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.timelocation__container > div {
  flex: 1;
  padding-right: 10px;
}

.timelocation__container > div h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
  /* opacity: 0.8; */
  font-size: 10pt;
}

.timelocation__container > div * {
  margin: 0;
}

.speaker__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -30px;
}

.speaker__block {
  flex: 1 0 250px;
  margin-right: 30px;
  margin-top: 30px;
  max-width: 250px;
}

.speaker__block img {
  max-width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.speaker__block h3,
.speaker__block p {
  text-align: center;
  margin: 0;
}

.table {
  border-spacing: 0;
}

.table h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18pt;
}

.table p {
  margin: 0;
}

.table td {
  vertical-align: top;
}

.table td:nth-child(1) {
  text-align: right;
  padding-right: 20px;
}

.table td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table td {
  border-top: 1px solid #FFF;
}

.btn {
  margin-top: 48px;
  display: inline-block;
  text-decoration: none;
  background-color: #F5939D;
  padding: 10px 20px;
  color: #FFF;
  font-size: 16pt;
  font-weight: 700;
  border-radius: 5px;
  pointer-events: auto;
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: #FFF;
  background-color: #E23B52;
}

.footer {
  display: flex;
  justify-content: center;
}

.collab {
  margin: 50px 0 100px 0;
  width: 200px;
}

.collab img {
  max-width: 200px;
}

@media only screen and (max-width: 600px) {
  .speaker__block {
    margin-right: 0px;
  }

  h2.subhero__big {
    font-size: 24pt;
  }
}

/* Slider CSS */
.slider {
	position: relative;
	z-index: 200;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 5em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
}

.slide {
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	opacity: 0;
}

.slide--current {
	position: relative;
	z-index: 100;
	visibility: visible;
	opacity: 1;
}

.slide__mover {
	position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.slider__nav {
	position: absolute;
	bottom: 2em;
	width: 100%;
	text-align: center;
}

.photo__block {
  max-width: 600px;
}

.photo__block img {
  border-radius: 5px;
  max-width: 100%;
}

.button {
	font-size: 1.31em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0 25px;
	padding: 0;
	cursor: pointer;
	color: #5c5edc;
	border: none;
  background: none;
  -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.button:focus {
	outline: none;
}

.button:hover {
	color: #fff;
}
